@model Uc_4_Antonia_Clinica.Models.Consulta

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="/css/site.css">
<h1>Excluir</h1>

<h3>Você realmente deseseja escluir a consulta agendada?</h3>
<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Consulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Consulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConsultaId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        
    </form>
    <a asp-action="Index">Consultar</a> |

    <a asp-controller="Home" asp-action="Financeiro">Painel Geral</a>
</div>
