@model IEnumerable<Uc_4_Antonia_Clinica.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/site.css">
<h1>Lista de Funcionario</h1>

<form asp-action="Index" method="get-3 shadow-sm rounded">


    <div class="position-relative">

        <input type="text"
               class="form-control border-end-0"
               name="searchString"
               placeholder="🔍 Pesquisar consulta..."
               aria-label="Pesquisar consulta">


        <button type="submit"
                class="btn btn-sm btn-primary position-absolute top-40 end-10 translate-middle-y me-2">
            Buscar
        </button>

<p>
    <a asp-action="Create">Adicionar novo funcionário</a>
</p>


    </div>
    <p></p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                    <div class="d-flex gap-1">
                        <a asp-action="Edit" asp-route-id="@item.FuncionarioId" class="btn btn-warning btn">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.FuncionarioId" class="btn btn-info btn-sm">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.FuncionarioId" class="btn btn-danger bt">Excluir</a>
                    </div>
            </td>
        </tr>
        }
       
    </tbody>
</table>

<a asp-controller="Home" asp-action="Financeiro">Painel Geral</a>
